*.cache
*.suo
*.db
*.csproj.user
*.pdb
*.force
/AuthenticationConsoleClient/bin/
/AuthenticationConsoleClient/obj/
/ImpersonationConsoleClient/bin/
/ImpersonationConsoleClient/obj/
/ImpersonationWebClient/bin/
/ImpersonationWebClient/obj/
/MultipleEndpointsConsoleClient/bin/
/MultipleEndpointsConsoleClient/obj/
/MultipleEndpointsWebClient/bin/
/MultipleEndpointsWebClient/obj/
/WCFAuthentication/bin/
/WCFAuthentication/obj/
/WCFImpersonated/bin/
/WCFImpersonated/obj/
/WCFMultipleEndpoints/bin/
/WCFMultipleEndpoints/obj/
